html, body {
  width: auto;
  height: auto;
  background: url('https://wallpaperlost.com/images/pokemon-wallpaper-minimalist-14.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.pokemonImage {
  width: 350px;
  height: 350px;
}

.pokemon-viewer-info {
  position: relative;
  left: 62%;
  color: white;
}
.saveToTeam {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
.addToTeam {
  position: relative;
  top: -50px;
  left: -150px;
}
.pokemonImage {
  position: relative;
  left: 275px;
  top: 50px;
}
.pokemonName, .pokemonWeight, .pokemonHeight, .pokemonId {
  position: relative;
  left: -175px;
  font-size: 36px;
  top: -250px;
}
